<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
    </head>
    <body>
        <center>
            <div class="jumbotron">
                <div class="display-4">Hangman Game</div>
                <hr class="my-4">
                
                <div class="gamewindow">    
                    <img style="border:2px solid black" src={{gamestate}}></img>
                </div>
                <hr class="my-6">
                <div class="input">
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{letterlist}}
                        <div class="form-group md-2">
                            <label for="letterGuess">Enter your guess!</label>
                            <input type="text" class="form-control col-md-2" name="guess"></input>
                            <button type="submit" class="btn btn-primary mb-2" name="confirm">Confirm Guess</button>
                            <button type="submit" class="btn btn-primary mb-2" name="reset">New Game</button>
                            {{guess}}
                            {{word}}
                            {{fillword}}
                            {{error}}
                        </div>
                    </form>
                </div>
            </div>
        </center>    
    </body>
</html>